.background {
    display: block;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.background__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

@media screen and (min-width: 992px) {
    .background__image {
        height: 30rem;
    }
}