.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5.2rem;
    background-color: var(--color-foreground);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.1rem;
    cursor: grab;
}

.container:last-child {
    margin-bottom: 0;
}

.fixedSection {
    flex: 0 0 auto;
}

.fluidSection {
    flex: 1 1 0;
}

.content {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 1.6rem;
    color: var(--color-text);
}

.content.completed {
    color: var(--color-text-alt);
    text-decoration: line-through;
}

.button {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    background-color: transparent;
    border: none;
    margin-right: -1.8rem;
    margin-left: auto;
}

.icon {
    width: 1.2rem;
    height: auto;
    color: var(--color-text-alt);
    margin: auto;
}

@media screen and (min-width: 992px) {
    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .icon {
        opacity: 0;
        transition: opacity 150ms;
    }
}

.container:hover .icon {
    opacity: 1;
}