.todoMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background-color: var(--color-foreground);
}

.todoMenu__section {
    flex: 1 1 0;
}

.todoMenu__section_middle {
    display: none;
}

.todoMenu__remaining {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    color: var(--color-text-alt);
}

.todoMenu__clear {
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    transition: colors 150ms;
    color: var(--color-text-alt);
}

.todoMenu__clear:hover {
    color: var(--color-text);
}

@media screen and (min-width: 588px) {
    .todoMenu__section_middle {
        display: block;
    }

    .todoMenu__remaining {
        font-size: 1.4rem;
    }

    .todoMenu__clear {
        font-size: 1.4rem;
    }
}