.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5.2rem;
    background-color: var(--color-foreground);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.1rem;
    cursor: grab;
}

.todo:last-child {
    margin-bottom: 0;
}

.todo__fixedSection {
    flex: 0 0 auto;
}

.todo__fluidSection {
    flex: 1 1 0;
}

.todo__content {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 1.6rem;
    color: var(--color-text);
}

.todo__content_completed {
    color: var(--color-text-alt);
    text-decoration: line-through;
}

.todo__button {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    background-color: transparent;
    border: none;
    margin-right: -1.8rem;
    margin-left: auto;
}

.todo__icon {
    width: 1.2rem;
    height: auto;
    color: var(--color-text-alt);
    margin: auto;
}

.todo:hover .todo__icon {
    opacity: 1;
}

@media screen and (min-width: 588px) {
    .todo {
        height: 6.4rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .todo__content {
        font-size: 1.8rem;
        letter-spacing: -0.03rem;
        line-height: 2.4rem;
        padding-left: 1.2rem;
        margin: 0;
    }

    .todo__icon {
        width: 2rem;
        opacity: 0;
        transition: opacity 150ms;
    }
}