.bar {
    width: 100%;
    height: auto;
    margin-bottom: 1.6rem;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.9rem;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 0.8rem 0 0 0;
}

.button {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 2.4rem;
    margin-right: -1.4rem;
}

.icon {
    width: 2rem;
    height: auto;
    color: var(--color-white);
    margin: auto;
}

@media screen and (min-width: 588px) {
    .bar {
        margin-bottom: 4rem;
    }

    .title {
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }

    .button {
        margin-right: -1rem;
    }

    .icon {
        width: 2.8rem;
    }
}